body {
  font-family: 'Bree Serif', serif;
  background: #00416A;
  background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  
  background: linear-gradient(to right, #FFE000, #799F0C, #00416A); 
  background: linear-gradient(to right, #24FE41, #FDFC47);
  margin: 0;
}
header{
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
}

#main-menu {
  text-align: center;
  display: flex;
  background-color:#2d2d2dfa;  /*#9da1a4*/
  color: #9da1a4; 
  height: 55px;
  text-decoration: none;
}
a{
  color: #9da1a4;
  font-size: 18px;
  text-decoration: none;
}
.list-container > a:hover {
color: white;
text-decoration: none;
}
a:visited{
color: #9da1a4;
text-decoration: none;
}
.pokemon-logo {
  margin-left: 10px;
  margin-top: 5px;
  width: 120px;
  height: 40px;
  background-image: url(img/pokemonLogo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}
.list-container {
  margin: auto;
  color: #fff;
  text-decoration: none;
}
.list-container > a {
  margin: 20px;
  text-decoration: none;
}
.pokedex-details, .give-a-try{
  margin: 100px;
  border: 2px solid black;
  border-radius: 22px;
  background-color: rgba(45, 45, 45, 0.98);
  color: white;
  padding-left: 13px;
  
}
.pokedex-details, .give-a-try > h1 {
  font-family: 'Bree Serif', serif;
  font-size: 44px;
}
.pokedex-details, .give-a-try > p {
  font-size: 20px;
}

#display-list > ul{
   
  background: -webkit-linear-gradient(to right, #da2b2b, #434343);
  background: linear-gradient(to right, #da2b2b, #434343);
  color: #fff;
  margin-top: 50px;
  column-count: 3;
  overflow-y: scroll;
  height: 400px;
  padding: 42px;
  list-style: decimal;
  border: 2px solid #9da1a4;
  font-size: 23px;
  border-radius: 16px;
}
#display-list > span {
  text-align: center;
  display: block;
  font-size: 44px;
  margin: 100px;
  border: 2px solid black;
  border-radius: 22px;
  background-color: rgba(45, 45, 45, 0.98);
  color: white;
  padding-left: 13px;
}
.pokemon-icon {
  background-image: url(img/pikachu-jump.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  margin-left: 750px;
  position: fixed;
}
/*////////*/
.capitalize, #pokemon-details-container > ul > li, #console-message {
  text-transform: capitalize;
}

#console-message {
  text-align: center;
  color: #fff;
  margin-top: 4px;
}

#pokemon-search, #search-button, #random-search {
  background: rgba(255, 255, 255, .5);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  display: block;
}

#search-button, #random-search {
  width: 195px;
  margin: auto;
  margin-top: 16px;
}

#search-button:hover {
  cursor: pointer;
}

.pokemon-img {
  height: 92px;
  width: 92px;
}

.pokemon-details {
  width: 230px;
}

.pokedex-bg {
  width: 800px;
  height: 600px;
  background-image: url(img/pokedex.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.pokemon-details-body > div {
  flex: 1;
}

#pokemon-details-container > ul {
  padding-left: 0;
}

h3, ul {
  padding: 0;
  margin: 0;
}

h3 {
  padding-bottom: 6px;
}

#pokemon-details-container > ul > li {
  display: inline-block;
}

.pokedex-bg, .pokemon-details-body, #pokemon-img-container,
.main-pokedex-container {
  display: flex;
}


.pokedex-wrapper, #pokemon-img-container > img {
  margin: 0 auto;
}

.user-input-box {
  margin-top: 70px;
}

.user-input-box, .user-input-box > div, #pokemon-search {
  width: inherit;
}

#pokemon-search, .pokedex-bg {
  margin: auto;
}

.pokemon-details {
  margin-top: 150px;
}

div[data-active="0"].pokemon-details {
  display: none;
}

div[data-active="1"].pokemon-details {
  display: block;
}

div#console-message[data-active="0"] {
  display: none;
}

div#console-message[data-active="1"] {
  display: block;
}
@media only screen
  and (max-width: 414px){
    .list-container > a{
      margin: 9px;
      font-size: 13px;
    }
    .pokemon-logo{
      margin-left: 6px;
    margin-top: 5px;
    width: 67px;
    height: 46px;
    }
    .pokemon-icon {
      height: 100px;
      width: 100px;
      margin-left: 2px
    }
    
  }