body {
  font-family: 'Bree Serif', serif;
  background: #00416A;
  background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  
  background: linear-gradient(to right, #FFE000, #799F0C, #00416A); 
  background: linear-gradient(to right, #24FE41, #FDFC47);
  margin: 0;
}
header{
  height: 50px;
}

#main-menu {
  text-align: center;
  display: flex;
  background-color:rgba(45, 45, 45, 0.98);  /*#9da1a4*/
  color: white; 
  height: 55px;
}
a{
  font-size: 18px;
  text-decoration: none;
}
a:hover {
color: #9da1a4;
}
a:visited{
color: #9da1a4;
}
.pokemon-logo {
  margin-left: 10px;
  margin-top: 5px;
  width: 120px;
  height: 40px;
  background-image: url(img/pokemonLogo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}
.list-container {
  margin: auto;
  color: #fff;
}
.list-container > a {
  margin: 20px;
}
.pokedex-details{
  margin: 100px;
  text-shadow: 2px 2px 14px white, 3px 3px 24px black;
}
.pokedex-details > h1 {
  font-size: 44px;
}
.pokedex-details > p {
  font-size: 20px;
}

#display-list > ul{
   
  background: -webkit-linear-gradient(to right, #434343, #2b9db9);
  background: linear-gradient(to right, #434343, #2b9db9);
  color: #fff;
  margin-top: 50px;
  column-count: 3;
  overflow-y: scroll;
  height: 400px;
  padding: 42px;
  list-style: decimal;
  border: 2px solid #9da1a4;
  font-size: 23px;
  border-radius: 16px;
}
#display-list > span {
  text-align: center;
  display: block;
  padding-top: 150px;
  font-size: 44px;
  text-shadow: 2px 2px 14px white, 3px 3px 24px black;
}


/*////////*/
.capitalize, #pokemon-details-container > ul > li, #console-message {
  text-transform: capitalize;
}

#console-message {
  text-align: center;
  color: #fff;
  margin-top: 4px;
}

#pokemon-search, #search-button, #random-search {
  background: rgba(255, 255, 255, .5);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  display: block;
}

#search-button, #random-search {
  width: 195px;
  margin: auto;
  margin-top: 16px;
}

#search-button:hover {
  cursor: pointer;
}

.pokemon-img {
  height: 92px;
  width: 92px;
}

.pokemon-details {
  width: 230px;
}

.pokedex-bg {
  width: 800px;
  height: 600px;
  background-image: url(img/pokedex.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.pokemon-details-body > div {
  flex: 1;
}

#pokemon-details-container > ul {
  padding-left: 0;
}

h3, ul {
  padding: 0;
  margin: 0;
}

h3 {
  padding-bottom: 6px;
}

#pokemon-details-container > ul > li {
  display: inline-block;
}

.pokedex-bg, .pokemon-details-body, #pokemon-img-container,
.main-pokedex-container {
  display: flex;
}


.pokedex-wrapper, #pokemon-img-container > img {
  margin: 0 auto;
}

.user-input-box {
  margin-top: 70px;
}

.user-input-box, .user-input-box > div, #pokemon-search {
  width: inherit;
}

#pokemon-search, .pokedex-bg {
  margin: auto;
}

.pokemon-details {
  margin-top: 150px;
}

div[data-active="0"].pokemon-details {
  display: none;
}

div[data-active="1"].pokemon-details {
  display: block;
}

div#console-message[data-active="0"] {
  display: none;
}

div#console-message[data-active="1"] {
  display: block;
}